---
// packages
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { BlogTags } from "../../constants";

// components
import BlogCard from "../../components/blog-card.astro";
import Link from "../../components/link.astro";
import MainLayout from "../../layouts/main-layout.astro";

// ops
const allBlogArticles: CollectionEntry<"articles">[] = (
  await getCollection("articles")
).sort(
  (a: CollectionEntry<"articles">, b: CollectionEntry<"articles">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<MainLayout title="Blog" description="A place for my writings and thoughts">
  <div class="space-y-5 py-5">
    <input
      type="text"
      placeholder="Search writings..."
      class="w-full rounded-md border border-zinc-900 bg-zinc-800 px-3 py-1.5 text-sm outline-none focus-visible:ring-2 focus-visible:ring-zinc-700 md:text-base"
    />

    <div class="flex flex-wrap gap-2">
      {
        BlogTags.map((tag) => (
          <a
            href={"/blog/tag/" + tag}
            class="cursor-pointer rounded-md border-2 border-zinc-800 px-2 py-1.5 text-xs font-bold uppercase hover:bg-zinc-800 hover:bg-opacity-80"
          >
            {tag}
          </a>
        ))
      }
    </div>
  </div>

  <div class="space-y-5 py-5">
    {
      allBlogArticles.map((blog) => (
        <BlogCard
          title={blog.data.title}
          slug={blog.slug}
          date={blog.data.publishDate}
        />
      ))
    }
  </div>
</MainLayout>
