---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="Blog" description="A place for my writings and thoughts">
  <h1 class="font-medium underline underline-offset-4">Check my writings</h1>
</MainLayout>
