---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="My List" description="My list of random things.">
  <h1 class="text-xl font-bold md:text-2xl">List of random things.</h1>
</MainLayout>
