---
import MainLayout from "../../layouts/main-layout.astro";
---

<MainLayout title="Contact" description="Here is how you can contact me page.">
  <div class="py-5">
    <p class="text-lg lg:text-xl">
      You can reach out to me easily by sending me a direct message on X
      (formerly Twitter) <span class="underline underline-offset-4"
        ><b><a href="https://x.com/svnket" target="_blank">@svnket</a></b></span
      > or email me at <span class="underline underline-offset-4"
        ><b>code.sanket13@gmail.com</b></span
      >.
    </p>
  </div>
</MainLayout>
