---
import BlogCard from "../components/blog-card.astro";
import MainLayout from "../layouts/main-layout.astro";

import ProjectSection from "../components/project-section.astro";
---

<MainLayout description="" title="">
  <main class="space-y-7 py-5">
    <div class="rounded-md bg-zinc-800 p-3">
      <h1 class="text-lg font-bold md:text-xl">sanketghosh</h1>
      <p class="text-[15px] font-medium text-zinc-500 md:text-base">
        learner. developer. dreamer
      </p>
    </div>

    <div class="space-y-3">
      <p class="">
        Primarily a web developer. Recently, I've been exploring the world of
        AI.
      </p>
    </div>
    <div class="space-x-3 text-sm font-medium">
      <a
        href="https://github.com/sanketghosh"
        class="rounded-md bg-zinc-800 px-2 py-1.5 hover:bg-opacity-80">GitHub</a
      >
      <a
        href="https://x.com/svnket"
        class="rounded-md bg-zinc-800 px-2 py-1.5 hover:bg-opacity-80"
        >X (or Twitter)</a
      >
      <a
        href="/blog"
        class="rounded-md bg-zinc-800 px-2 py-1.5 hover:bg-opacity-80">Blog</a
      >
    </div>

    <!--     <div class="flex items-center space-x-2 text-sm md:text-base">
      <a
        href="https://github.com/sanketghosh"
        class="rounded-full bg-zinc-800 p-2 shadow-md transition-all hover:bg-opacity-65"
      >
        <img src="./github.svg" alt="github icon" class="size-6" />
      </a>
      <a
        href="https://x.com/svnket"
        class="rounded-full bg-zinc-800 p-2 shadow-md transition-all hover:bg-opacity-65"
      >
        <img src="./twitter.svg" alt="twitter icon" class="size-6" />
      </a>
    </div> -->

    <div class="space-y-5">
      <h1 class="font-semibold underline underline-offset-4">Projects</h1>
      <ProjectSection />
    </div>

    <div class="space-y-5">
      <h1 class="font-semibold underline underline-offset-4">Latest Wrtings</h1>
      <BlogCard />
    </div>
  </main>
</MainLayout>
