---
// components
import MainLayout from "../layouts/main-layout.astro";
import ProjectSection from "../components/project-section.astro";
import BlogCard from "../components/blog-card.astro";
import Link from "../components/link.astro";

// packages
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Hero from "../components/hero.astro";
import SectionHeader from "../components/section-header.astro";

// ops
const allBlogArticles: CollectionEntry<"articles">[] = (
  await getCollection("articles")
)
  .sort(
    (a: CollectionEntry<"articles">, b: CollectionEntry<"articles">) =>
      b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
  )
  .slice(0, 3);
---

<MainLayout description="" title="">
  <main class="space-y-7 py-5">
    <div>
      <SectionHeader>About me</SectionHeader>

      <p class="text-sm font-medium lg:text-base">
        Hi, I'm Sanket, a developer from India. I work with web technologies and
        explore diverse development realms. Currently exploring the world of AI.
        Wanna connect? Shoot me a <a
          href="https://x.com/svnket"
          class="underline underline-offset-4"
        >
          <b>DM on X</b>
        </a> or email me at <span class="underline underline-offset-4"
          ><b>code.sanket13@gmail.com</b></span
        >.
      </p>
    </div>

    <div class="">
      <SectionHeader>Projects</SectionHeader>
      <ProjectSection />
    </div>

    <div>
      <SectionHeader>Latest writings</SectionHeader>
      <section class="w-full">
        <div class="space-y-3">
          {
            allBlogArticles.map((blog) => (
              <BlogCard
                title={blog.data.title}
                slug={blog.slug}
                date={blog.data.publishDate}
                className="lg:text-base"
              />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</MainLayout>
