---
import MainLayout from "../layouts/main-layout.astro";
import ProjectTable from "../components/project-table.astro";
import BlogTable from "../components/blog-table.astro";
import "../styles/index.css";

const paras = [
  {
    elem: `I'm a developer and undergrad student from India, deeply passionate
        about building softwares. I'm always pushing myself to explore new
        horizons and push the limits of what's possible in this ever-evolving
        field.`,
  },
  {
    elem: `
        I'm a developer and undergrad student from India, deeply passionate
        about building softwares. I'm always pushing myself to explore new
        horizons and push the limits of what's possible in this ever-evolving
        field.
      `,
  },
];
---

<MainLayout description="" title="Home">
  <main class="space-y-8 py-5">
    <div class="square"></div>
    <h2 class="text-2xl font-medium md:text-3xl lg:text-4xl">sanketghosh</h2>
    <div class="space-y-3">
      {
        paras.map((i) => (
          <p class="text-sm even:text-zinc-400 md:text-base">{i.elem}</p>
        ))
      }
    </div>
    <div class="flex items-center space-x-4 text-sm md:text-base">
      <a href="https://github.com/sanketghosh">GitHub</a>
      <a href="https://x.com/sanketgsh">X (Twitter)</a>
    </div>

    <div class="space-y-3">
      <h1 class="text-lg font-medium lg:text-xl">Projects</h1>
      <ProjectTable />
      <!-- <h2 class="text-xs underline-offset-4 hover:underline">
        <a href="https://github.com/sanketghosh" class="capitalize"
          >more projects on my GitHub</a
        >
      </ProjectTable> -->
    </div>

    <div class="space-y-3">
      <h1 class="text-lg font-medium lg:text-xl">Latest Wrtings</h1>
      <BlogTable />
      <h2 class="text-xs underline-offset-4 hover:underline">
        <a
          href="/articles"
          class="text-sm capitalize underline underline-offset-4"
          >my other articles</a
        >
      </h2>
    </div>
  </main>
</MainLayout>
