---
import { formatDate } from "../utils/date-format";
import LinkCard from "./link-card.astro";

interface BlogCard {
  slug?: string;
  title?: string;
  date: Date;
  className?: string;
}

const { slug, title, date, className } = Astro.props as BlogCard;
---

<LinkCard link={"/blog/" + slug}>
  <p class="text-zinc-500">
    {formatDate(date)}
  </p>
  <p
    class="font-marcellus cursor-pointer text-lg font-semibold leading-tight lg:text-xl"
  >
    {title}
  </p>
</LinkCard>
