---
import { formatDate } from "../utils/date-format";

interface BlogCard {
  slug?: string;
  title?: string;
  date: Date;
  className?: string;
}

const { slug, title, date, className } = Astro.props as BlogCard;
---

<div class="space-y-1 text-base">
  <p class="font-medium">
    {formatDate(date)}
  </p>
  <a
    href={"/blog/" + slug}
    class="cursor-pointer font-bold text-blue-700 underline underline-offset-4 transition-all hover:text-blue-500"
    transition:name="astro-logo"
  >
    {title}
  </a>
</div>
