---
import { formatDate } from "../utils/date-format";

interface BlogCard {
  slug?: string;
  title?: string;
  date: Date;
  className?: string;
}

const { slug, title, date, className } = Astro.props as BlogCard;
---

<div class="border-b border-zinc-800 pb-2">
  <p class="text-sm font-medium text-zinc-500">
    {formatDate(date)}
  </p>
  <a
    class={`cursor-pointer font-medium leading-tight transition-all hover:text-zinc-300 hover:underline hover:underline-offset-4 lg:text-lg ${className}`}
    href={"/article/" + slug}
  >
    {title}
  </a>
</div>
