---
import { SOCIAL_LINKS, NAV_LINKS } from "../constants";

const path = Astro.url.pathname;
---

<section class="space-y-6">
  <div class="space-y-4 text-black">
    <h1 class="text-xl font-bold md:text-2xl">@svnket</h1>
    <div class="grid w-36 grid-cols-2 gap-4">
      {
        SOCIAL_LINKS.map((link) => (
          <a
            href={link.link}
            class="flex w-fit items-center font-semibold capitalize text-blue-700 underline underline-offset-2 transition-all hover:text-blue-500"
          >
            <p class="text-sm font-bold">{link.label}</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-up-right"
            >
              <path d="M7 7h10v10" />
              <path d="M7 17 17 7" />
            </svg>
          </a>
        ))
      }
    </div>
  </div>

  <div class="flex items-center space-x-3 md:space-x-5">
    {
      NAV_LINKS.map((link) => (
        <a
          href={link.href}
          class={`text-sm font-medium capitalize hover:text-black ${path === link.href ? "text-black underline underline-offset-8" : "text-zinc-500"}`}
        >
          {link.label}
        </a>
      ))
    }
  </div>
</section>
