---
type Target = "_blank" | "_self";

interface LinkCardProps {
  link: string;
  target?: Target;
}

const { link, target = "_self" } = Astro.props as LinkCardProps;
---

<div>
  <a href={link} target={target}>
    <div
      class="space-y-0.5 rounded-md border p-2 transition-all hover:bg-zinc-100/70"
    >
      <slot />
    </div>
  </a>
</div>
