---
const fake_project_data = [
  {
    project: "Socilime",
    desc: "A social media app, create post and connections with people from accross the world.",
    link: "https://github.com/sanketghosh/socialime",
    projectStatus: "active",
  },
  {
    project: "Flox",
    desc: "A modern kanban project manager. Create workspace, board for organizing your tasks better and rapid work.",
    link: "https://github.com/sanketghosh/flox",
    projectStatus: "active",
  },
  {
    project: "HealthPal",
    desc: "Personal health care buddy.",
    link: "https://github.com/sanketghosh",
    projectStatus: "acquired",
  },
  {
    project: "BudgetWiz",
    desc: "Personal budget tracker.",
    link: "https://github.com/sanketghosh",
    projectStatus: null,
  },
];
---

<section>
  <div class="space-y-5">
    {
      fake_project_data.map((item, idx) => (
        <div class="space-y-1">
          <div class="flex items-center">
            <a
              href={item.link}
              class="cursor-pointer text-base font-bold text-blue-700 underline underline-offset-4 transition-all hover:text-blue-500"
            >
              {item.project}
            </a>
            {item.projectStatus && (
              <span class="ml-3 select-none rounded-md border-[1.5px] border-black px-2 py-0.5 text-[10px] font-bold capitalize">
                {" "}
                {item.projectStatus}
              </span>
            )}
          </div>
          <p class="font-medium">{item.desc}</p>
        </div>
      ))
    }
  </div>
</section>
