---
// components
import MainHead from "./main-head.astro";
import Navbar from "../components/navbar.astro";

// modules and others
import { SITE_META_DATA } from "../constants";

interface MainLayoutProps {
  title?: string;
  description?: string;
  isNav?: boolean;
}

const { title, description, isNav } = Astro.props as MainLayoutProps;
---

<html lang="en">
  <MainHead
    title={`${SITE_META_DATA.title} | ${title}`}
    description={`${description} | ${SITE_META_DATA.description}`}
  />
  <body class="bg-zinc-100 text-black">
    {isNav && <Navbar />}
    <main class="py-6 mx-auto max-w-6xl px-5 md:px-6 lg:px-8">
      <slot />
    </main>
  </body>
</html>
