---
// components
import MainHead from "./main-head.astro";

import "../styles/index.css";

// modules and others
import { SITE_META_DATA } from "../constants";
import Hero from "../components/hero.astro";
import Link from "../components/link.astro";

interface MainLayoutProps {
  title?: string;
  description?: string;
  isNav?: boolean;
}

const {
  title,
  description = SITE_META_DATA.description,
  isNav,
} = Astro.props as MainLayoutProps;
---

<html lang="en">
  <MainHead
    title={`${SITE_META_DATA.title} ${title && "|"}  ${title}`}
    description={description}
  />
  <body class="bg-white text-black selection:bg-black selection:text-white">
    <main
      class="mx-auto max-w-2xl px-6 py-6 font-jetbrains_mono md:px-8 lg:px-10"
    >
      <div class="flex items-center gap-3 pb-3 capitalize">
        <Link href={"/"} target={"_self"} label={"Home"} />
        <Link href={"/blog"} target={"_self"} label={"Blog"} />
      </div>

      <slot />
    </main>
  </body>
</html>
